{# PLANTILLA DE INICIO: aquí tenemos que poner lo que queremos que aparezca solo en la página principal  #}

{# src/Blogger/BlogBundle/Resources/views/Canciones/list.html.twig #}
{% extends "BloggerBlogBundle::layout.html.twig" %}
{% block title %}Lista de Canciones{% endblock %}

{% block body %}
   
            <h1>Bienvenidos a la web TOP100</h1>
            <p>Conoce las mejores canciones de la actualidad. Conoce nuevas artistas, nuevas canciones, estilos de música diferentes...</p>
            <p>Visita <a href="http://www.youtube.com">esta página</a>.</p>


{% endblock %}

